<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../rsiot/components/cmp_esp_spi_master/struct.ConfigDevice.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../rsiot/components/cmp_esp_spi_master/struct.ConfigDevice.html">../../../../rsiot/components/cmp_esp_spi_master/struct.ConfigDevice.html</a>...</p>
    <script>location.replace("../../../../rsiot/components/cmp_esp_spi_master/struct.ConfigDevice.html" + location.search + location.hash);</script>
</body>
</html>