<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../../rsiot/components/cmp_leptos/components/enum.Go2rtcMode.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../../rsiot/components/cmp_leptos/components/enum.Go2rtcMode.html">../../../../../rsiot/components/cmp_leptos/components/enum.Go2rtcMode.html</a>...</p>
    <script>location.replace("../../../../../rsiot/components/cmp_leptos/components/enum.Go2rtcMode.html" + location.search + location.hash);</script>
</body>
</html>